# Project Employee Data

In [1]:
import pandas as pd

## Exercise 1

In [2]:
employee_df = pd.read_csv("https://drive.google.com/u/1/uc?id=1d5MX8MBucLfrRkrxMyrXPMmcp4AzeNk7&export=download")

> The DataFrame `employee_df` represents the hours worked by different employees over the course of the week.
> 1. Create a lambda function `get_last_name` which takes a string with someone’s name and returns just the last name
2. Use the lambda function `get_last_name` to create a new column `last_name` with only the employees’ last name.

In [8]:
# Type your code here
employee_df.head(5)
employee_df['get_last_name']=employee_df['name'].apply(lambda n:n.split(' ')[1])
employee_df

       id               name  hourly_wage  hours_worked get_last_name
0   10310      Lauren Durham           19            43        Durham
1   18656      Grace Sellers           17            40       Sellers
2   61254  Shirley Rasmussen           16            30     Rasmussen
3   16886        Brian Rojas           18            47         Rojas
4   89010    Samantha Mosley           11            38        Mosley
5   87246       Louis Guzman           14            39        Guzman
6   20578     Denise Mcclure           15            40       Mcclure
7   12869      James Raymond           15            32       Raymond
8   53461       Noah Collier           18            35       Collier
9   14746    Donna Frederick           20            41     Frederick
10  71127       Shirley Beck           14            32          Beck
11  92522    Christina Kelly            8            44         Kelly
12  22447        Brian Noble           11            39         Noble
13  61654          Randy Key           16            38           Key
14  16988      Diana Stewart           14            48       Stewart
15  68619       Timothy Sosa           14            42          Sosa
16  59949      Betty Skinner           11            48       Skinner
17  81418      Janet Maxwell           12            38       Maxwell
18  27267   Madison Johnston           20            37      Johnston
19  19985   Virginia Nichols           13            49       Nichols

If an employee worked for more than 40 hours, she needs to be paid overtime (1.5 times the normal hourly wage).

For instance, if an employee worked for 43 hours and made 10 dollars per hour, she would receive 400 dollars for the first 40 hours that she worked, and an additional 45 dollars for the 3 hours of overtime, for a total for 445 dollars.

1. Create a function `total_earned` that accepts an input row with keys `hours_worked` and `hourly_wage` and uses an if statement to calculate the hourly wage.
2. Use the function `total_earned` and apply to add a column `total_earned` to `df` with the total amount earned by each employee.

In [10]:
# Type your code here [00:57:00:-01:08:30]=11:30mins
def total_earned(row):

  if row["hours_worked"]>40:
    total=(row["hours_worked"]-40)*row["hourly_wage"]*1.5+40*row["hourly_wage"]
  else:
    total=row["hours_worked"]*row["hourly_wage"]
  return total

employee_df["total_earned"]=employee_df.apply(total_earned,axis=1)
employee_df

,id,name,hourly_wage,hours_worked,get_last_name,total_earned
0,10310,Lauren Durham,19,43,Durham,845.5
1,18656,Grace Sellers,17,40,Sellers,680.0
2,61254,Shirley Rasmussen,16,30,Rasmussen,480.0
3,16886,Brian Rojas,18,47,Rojas,909.0
4,89010,Samantha Mosley,11,38,Mosley,418.0
5,87246,Louis Guzman,14,39,Guzman,546.0
6,20578,Denise Mcclure,15,40,Mcclure,600.0
7,12869,James Raymond,15,32,Raymond,480.0
8,53461,Noah Collier,18,35,Collier,630.0
9,14746,Donna Frederick,20,41,Frederick,830.0
10,71127,Shirley Beck,14,32,Beck,448.0
11,92522,Christina Kelly,8,44,Kelly,368.0
12,22447,Brian Noble,11,39,Noble,429.0
13,61654,Randy Key,16,38,Key,608.0
14,16988,Diana Stewart,14,48,Stewart,728.0
15,68619,Timothy Sosa,14,42,Sosa,602.0
16,59949,Betty Skinner,11,48,Skinner,572.0
17,81418,Janet Maxwell,12,38,Maxwell,456.0
18,27267,Madison Johnston,20,37,Johnston,740.0
19,19985,Virginia Nichols,13,49,Nichols,695.5

## Exercise 2

**Exercise**

On `PP-L2-shoefly.csv`

1. Examine the first 5 rows of the data using print and head.
2. Many of our customers want to buy vegan shoes (shoes made from materials that do not come from animals). Add a new column called `shoe_source`, which is vegan if the materials is not leather and animal otherwise.
3. Our marketing department wants to send out an email to each customer. Using the columns last_name and gender create a column called `salutation` which contains Dear Mr. *last_name* for men and Dear Ms. *last_name* for women.

In [ ]:
import pandas as pd
shoefly_df = pd.read_csv("https://drive.google.com/u/1/uc?id=1TxuhuoNCG8y4nvnAPxtq7-N7NI7X4dG1&export=download")
# Type your code here
shoefly_df.head()

In [15]:
shoefly_df['shoe_material'].unique()

array(['faux-leather', 'fabric', 'leather'], dtype=object)

In [ ]:
shoefly_df["shoe_source"]=shoefly_df["shoe_material"].apply(lambda x:x!="leather"and x!="faux-leather")
shoefly_df.head()

In [ ]:
def salute(row):

  if row['gender']='female':
    return f"Ms.{row["last_name"]"
  else:
    return f"Mr."{row["last_name"]"

shoefly_df['salutation']=shoefly_df.apply(salute,axis=1)
shoefly_df